.journey-picker {
  margin: -2rem auto 0 auto;
  padding: 2rem;

  color: white;
  background-color: #ecb0e1;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
}

.journey-picker__body {
  display: flex;
}

.journey-picker__form {
  flex: 1;
  margin-right: 1rem;
}

.journey-picker__label {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}

.journey-picker__controls {
  margin-top: 2rem;
}

.journey-picker select {
  display: block;
  width: 100%;
}

.journey-picker__map {
  width: 26rem;
  height: auto;
}

.stops {
  margin-top: 2rem;
}

.journey-detail {
  padding: 2rem;
}

.journey-detail {
  padding: 2rem;
}
